* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Bebas Neue", cursive;
}
body {
  background-image: url(https://i.imgur.com/Wtkf7UD.jpg);
  padding: 0 16px;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #c5cae9;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #1a237e;
  font-family: "Bebas Neue", cursive;
  font-weight: 1000;
}

button {
  background-color: black;
  box-align: center;
  font-size: 20px;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  color: white !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva;
  width: 260px;
  height: 60px;
  margin-left: 40%;
  margin-right: 25%;
  margin-top: 260;
}

footer {
  background-color: #c5cae9;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  text-align: right;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #1a237e;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.our-services .mini-title {
  text-transform: uppercase;
  font-weight: normal;
  margin: 3rem 0;
  text-align: left;
  font-size: 15px;
}

.our-services .main-heading {
  font-weight: bolder;
}
.our-services-info {
  margin-top: 1rem;
}

.our-services .our-services-number {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: aqua;
  border: 0.1rem solid var(--primary-color);
  font-size: 1.5rem;
  color: var(--primary-color);
  display: grid;
  place-items: center;
}

.our-services-data {
  padding-left: 2rem;
}

.our-services .our-services-data p {
  margin: 1rem 0;
}
